name: Deploy Trigger.dev

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'prod'
        type: choice
        options:
          - prod

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

env:
  TRIGGER_ACCESS_TOKEN: ${{ secrets.TRIGGER_ACCESS_TOKEN }}
  TRIGGER_PROJECT_REF: ${{ secrets.TRIGGER_PROJECT_REF }}
  TRIGGER_NON_INTERACTIVE: 1
  DATABASE_URL: ${{ secrets.DATABASE_URL }}

jobs:
  deploy-trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: itsferdiardiansa/ci-toolbox/actions/setup-node@v1.0.0
        with:
          node-version: 24
          install-deps: true

      - name: Deploy to Trigger.dev
        working-directory: packages/tasks
        run: |
          pnpm run deploy
